<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template is working</title>
</head>
<body><h3>Welcome to text analyser.Enter your text below</h3>
    <form action="analyze" method="get">
        <textarea name="text"  cols="30" rows="10" style="margin: 0px; width: 532px; height: 175px;"></textarea><br>
       <input type="checkbox" name="removepunc">Remove Punctuations.<br>
       <input type="checkbox" name="capitilize">To UpperCase<br>
       <input type="checkbox" name="newliner">Remove Newline<br>
       <input type="checkbox" name="extraspaceremover">Remove Extra Spaces<br>
        <button type="submit">Analyse Text</button>
    </form>

</body>
</html>